{% extends "about_me_template.html" %}
{% block title %}Patrick Liem{% endblock %}

{% block name %}Patrick Liem{% endblock %}


{% block image %}/static/github-icon.png{% endblock %}

{% block student_info %}
    <ul>
        <li>First Year Computer Science Student</li>
    </ul>
{% endblock %}

{% block facts %}
    <li>Favorite language is Java, because it's what I'm most comfortable with</li>
    <li>My favorite game is debatable, but Overwatch is pretty good.</li>
{% endblock %}

{% block merch %}
    <li> No merch :( </li>
{% endblock %}
